header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-image: linear-gradient(to top, var(--c5), var(--c3));
}

.logo {
    display: flex;
    gap: 10px;
    font-size: .6em;
}

.logo img {
    width: 25px;
    transform: rotate(-20deg);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 20px;
}

nav ul li#cart-counter {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li#cart-counter:hover {
    cursor: pointer;
}

nav ul li#cart-counter #cart-icon {
    width: 25px;
    transform: translateY(10%);
}

nav ul li#cart-counter p {
    width: 15px;
    height: 15px;
    color: #fff;
    font-size: 0.6em;
    background-color: var(--cprice);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 15px;
    top: 10px;
}