header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-image: linear-gradient(45deg, var(--c5), var(--c2));
}

.logo {
    display: flex;
    gap: 10px;
    font-size: .6em;
}

.logo img {
    width: 25px;
    rotate: -20deg;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 20px;
}