.hero {
  height: 500px;
  padding: 10px;
  background:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../assets/images/main-bg.jpg") center / cover no-repeat;
  box-shadow: black inset 0 0 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero h1 {
  font-family: "Bebas Neue", sans-serif;
  color: white;
  font-size: clamp(50px, 8vw, 120px);
  text-shadow: black 0 3px 1px;
  text-align: center;
  text-transform: uppercase;
  filter: drop-shadow(0px 0px 1px black);
  line-height: 100%;
}

.hero h1 span {
  font-size: 0.8em;
  display: block;
}
